
*.apk
/Sharing Place/bin
/Sharing Place/obj
/Sharing Place/obj
/Sharing Place/obj
/.vs/Sharing Place/FileContentIndex
/Sharing Place/obj
/Sharing Place/obj
/Sharing Place/obj
/Sharing Place/obj
/Sharing Place/bin
/SPServer/obj
